body {
  min-width: 300px;
  min-height: 150px;
  background: #EEE;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.newItemFields {
  display: none;
}

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

nav {
  display: block;
  margin-top: 5px;
}

input[type='number'] {
  width: 50px;
}

input[type='text'] {
  width: 100px;
}

#frmNew {
  display: none;
  text-align: center;
}

#divNewItem {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#ddlSelected {
  display: none;
  width: 50%;
  align-self: center;
}

#tblItems {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: auto;
  width: 85%;
}

#tblItems tr td:first-child { border-top-left-radius: 10px; }
#tblItems tr td:last-child { border-top-right-radius: 10px; }
#tblItems tr td:first-child { border-bottom-left-radius: 10px; }
#tblItems tr td:last-child { border-bottom-right-radius: 10px; }


img {
  cursor: pointer;
}

#tblItems td {
  padding: 10px;
  min-width: 100px;
  text-align: center;
  background: #EEE;
}

.separator th {
  border-bottom: 1px solid grey;
}

.clickableRow {
  cursor: pointer;
}

.doneRow {
  cursor: pointer;
}
